{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">


    <h5>Send single Email with unique link for registration</h5>
    <form action={% url 'invite' %} method="POST" >
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-outline-success"  name="send" type="submit">Send</button>
    <h6>{{msg}}</h6>
    </form>
    <br/>
    <h5>Upload .CSV file with emails for registration</h5>
    {{order}}
    <form action={% url 'csvupload' %} method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <input type="file" name="file" accept=".csv"/>
    <button class="btn btn-outline-success"  name="upload" type="submit">Upload</button>

    {% if messages %}
    {%for message in messages%}
    {{message|safe}}
    {%endfor%}
    {% endif %}
    </form>
    <form action={% url 'sendmass' %} method="POST" >
    {% csrf_token %}
    <button class="btn btn-outline-success"  name="sendmass" type="submit">Send</button>
    </form>
    {%if invalid_emails%}

    <p>You had few invalid or emails in your CSV file:</p>

    {%for email in invalid_emails%}
    <p>{{email}}</p>

    {% endfor %}
    {% endif %}
</div><br/>
<h3>{{badfiletype}}</h3>
</div>
{% endblock %}


