{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <h5>Add grade:</h5>
    <form method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-1">
                {{ form.grade|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.student|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.teacher|as_crispy_field }}
            </div>
            <div class="col-3">
                {{ form.subject|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.date|as_crispy_field }}
            </div>
            <div class="col-8">
                {{ form.descritption|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-1 text-nowrap">
                <p>
                    <h7>* - Field required</h7>
                </p>
            </div>
            <div class="col-9 text-right">
                <button class="btn btn-outline-success" type="submit">Save</button>
            </div>
        </div>
</div>
</form>
<br/>
<div class="container">
            <table class="table table-bordered table-hover table-sm">
    <thead>
                <tr>
                    <td > Student</td>
                    <td > Subject</td>
                    <td > Grade</td>
                    <td > Teacher</td>
                    <td > Date</td>
                    <td > Descritption</td>
                    <td ></td>
                </tr>

        </thead>
                {% for grade in grades %}
                <tbody>
                <tr>

                    <td> {{ grade.student }}</td>
                    <td> {{ grade.subject }}</td>
                    <td>{{ grade.grade }}</td>
                    <td> {{ grade.teacher }}</td>
                    <td> {{ grade.date }}</td>
                    <td> {{ grade.descritption }}</td>
                    <td><a class="btn btn-default" href="{% url 'grade_edit' pk=grade.pk %}">EDIT</a></td>


                {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %}