{% extends "home.html" %}
{% block content %}
    <div>
        <h1>Grades list</h1>
    </div>
    <h2>Add grade:</h2>
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <table>
        <tr>
            <td> Student </td>
            <td> Subject </td>
            <td> Grade </td>
            <td> Teacher </td>
            <td> Date </td>
            <td> Descritption </td>
        </tr>
    

    {% for grade in grades %}
    
            <tr>
                <td> {{ grade.student }}  </td>
                <td>  {{ grade.subject }} </td>
                <td>{{ grade.grade }} </td>
                <td> {{ grade.teacher }} </td>
                <td> {{ grade.date }} </td>
                <td> {{ grade.descritption }} </td>
            </tr>
   
    {% endfor %}
</table>

{% endblock %}