{% extends "home.html" %}
{% block content %}
    <div>
        <h1>Groups list</h1>
    </div>
    <h2>Add group:</h2>
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <table>
            <tr>
                <td>Name</td>
                <td>Teacher</td>
                <td>Create date</td>
            </tr>
            {% for group in groups %}
            <tr>
                <td> {{group.name}}</td>
                <td> {{group.get_teachers}}</td>
                <td> {{group.create_date}}</td>
                
            </tr>
            {% endfor %}
        </table>

{% endblock %}
