{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <h5>Add group:</h5>
    <form method="POST" >
        {% csrf_token %}
           <div class="row">
            <div class="col-4">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.teachers|as_crispy_field }}
            </div>
            <div class="col-2">
                {{ form.create_date|as_crispy_field }}
            </div>

        </div>
         <div class="row">
            <div class="col-1 text-nowrap">
                <p>
                    <h7>* - Field required</h7>
                </p>
            </div>
            <div class="col-9 text-right">
                <button class="btn btn-outline-success" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
<br/>
<div class="container">
            <table class="table table-bordered table-hover table-sm">
            <thead>
            <tr>
                <td>Name</td>
                <td>Teacher</td>
                <td>Create date</td>
                <td></td>
            </tr>
            </thead>
            {% for group in groups %}
                <tbody>
            <tr>
                <td> {{group.name}}</td>
                <td> {{group.get_teachers}}</td>
                <td> {{group.create_date}}</td>
                <td><a class="btn btn-default" href="{% url 'group_edit' pk=group.pk %}">EDIT</a></td>

            </tr>
            {% endfor %}
                </tbody>
        </table>
</div>
{% endblock %}
