{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    {% if perms.school.add_student %}
    <h5>Add Student:</h5>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-2">
                {{ form.group|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.name|as_crispy_field }}
            </div>

            <div class="col-4">
                {{ form.subjects|as_crispy_field }}
            </div>


        </div>
        <div class="row">
            <div class="col-1 text-nowrap">
                <p>
                    <h7>* - Field required</h7>
                </p>
            </div>
            <div class="col-9 text-right">
                <button class="btn btn-outline-success" type="submit">Save</button>
            </div>
        </div>
    </form>
    {% endif %}
</div>
<br/>
<div class="container">
            <table class="table table-bordered table-hover table-sm">
                <thead>
        <tr>
            <td>Student</td>
            <td>Group</td>
            <td>Subjects</td>
            <td></td>

        </tr>
                </thead>
                 <tbody>
        {% for student in students %}
        <tr>
            <td> <a href="{% url 'students_grades' pk=student.pk %}"> {{student.name}}</a></td>
            <td> {{student.group}}</td>
            <td> {{student.get_subjects}}</td>
            <td>
                {% if perms.school.edit_student %}
                <a class="btn btn-default" href="{% url 'student_edit' pk=student.pk %}">EDIT</a>
                {% endif %}
            </td>
        </tr>
         <tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
