{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div>
        <h4>Subjects list</h4>
    </div>
    <h5>Add subject:</h5>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-4">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.teacher|as_crispy_field }}
            </div>
            <div class="col-2">
                {{ form.teacher|as_crispy_field }}
            </div>

        </div>
        <div class="row">
            <div class="col-2">
                {{ form.group|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-1 text-nowrap">
                <p>
                    <h7>* - Field required</h7>
                </p>
            </div>
            <div class="col-9 text-right">
                <button class="btn btn-outline-success" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
<br/>
<div class="container">
    <table>
            <tr>
                <td>Name</td>
                <td>Teacher</td>
                <td>Group</td>
                <td></td>
            </tr>
            {% for subject in subjects %}
            <tr>
                <td> {{subject.name}}</td>
                <td> {{subject.teacher}}</td>
                <td> {{subject.group}}</td>
                <td><a class="btn btn-default" href="{% url 'subject_edit' pk=subject.pk %}">EDIT</a></td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}
