{% extends "home.html" %}
{% block content %}
    <div>
        <h1>Teachers list</h1>
    </div>
    <h2>Add teacher:</h2>
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <table>
            <tr>
                <td>Teacher</td>
                <td>Description</td>
            </tr>
            {% for teacher in teachers %}
            <tr>
                <td> {{teacher.name}}</td>
                <td> {{teacher.description}}</td>
                
            </tr>
            {% endfor %}
        </table>

{% endblock %}
