{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <h5>Add teacher:</h5>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-4">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.description|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-1 text-nowrap">
                <p>
                    <h7>* - Field required</h7>
                </p>
            </div>
            <div class="col-7 text-right">
                <button class="btn btn-outline-success" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
<br/>
<div class="container">

            <table class="table table-bordered table-hover table-sm">
                <thead>
            <tr>
                <td>Teacher</td>
                <td>Description</td>
                <td></td>
            </tr>
            </thead>
                <tbody>
            {% for teacher in teachers %}
            <tr>
                <td> {{teacher.name}}</td>
                <td> {{teacher.description}}</td>
                <td><a class="btn btn-default" href="{% url 'teacher_edit' pk=teacher.pk %}">EDIT</a></td>
                
            </tr>
            </tbody>
            {% endfor %}
        </table>
</div>

{% endblock %}
